.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Begin My Code */

@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f3f4;
  width: 100%;
  height: 100%;
  color: black;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*Form Styles  */

.form-component {
  width: 60%;
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  padding-right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-title {
  text-align: center;
}

input {
  font-size: 24px;
  margin-bottom: .5em;
  font-family: inherit;
  background-color: #f2f3f4;
  min-width: 300px;
  color: black;
}

.form-submit-button {
  width: 30%;
  font-size: 24px;
  background-color: #296ddb;
  color: white;
  padding: .3em;
  font-family: inherit;
  align-self: center;
  min-width: 150px;
}

.form-submit-button:disabled {
  background-color: grey;
}

/* UserList Styles */

.list-component {
  width: 60%;
}

.user-list-title {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.user-card {
  font-size: 20px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  padding: 0 .5em;
  box-sizing: border-box;
}

.user-card-text {
  display: flex;
  justify-content: space-between;
}

/* Media Queries */

@media screen and (max-width: 850px) {
}